<section class="section">
  <div class="container">
    <h1 class="title has-text-white has-text-centered">
      What is this?
    </h1>
    <div class="columns is-multiline">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="block about-text">
I found myself writing code for the first time in 2019, since then I've been exploring the world of software.

This website is one part of my home server setup, I will use it to write guides for various task within the world of computers.

Since spare time with a family is sparse, the updates here can be far apart and leaving a lot to desire.
My main focus point of this site is the actual hosting.

The goal of the actual site is to write easy-to-understand guides, I've found that guides quite often require knowledge not explained nor mentioned. I enjoy writing guides to why not give it a go.
        </div>
        <br>
        <div class="columns has-text-centered buttons">
          <a class="column is-one-fifth is-offset-one-fifth p-1 small-icon" href="/cv" >
            <%= image_tag "me.png", class: "logo-round" %>
          </a>
          <a class="column is-one-fifth p-1 small-icon" href="https://www.linkedin.com/in/oskar-franck-7b34aa1b6" target="_blank">
            <%= image_tag "linkedin.png", class: "logo-round" %>
          </a>
          <a class="column is-one-fifth p-1 small-icon" href="https://github.com/OskarFranck" target="_blank">
            <%= image_tag "github.png", class: "logo-round" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
